html {
    scroll-behavior: smooth;
}

:root {
    --bgcolor:#181818;
}

body {
    background-color: var(--bgcolor);
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

#wrapper {
    display: flex;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

#wrapper .sidebar {
    background-color: var(--bgcolor);
    width: 13%;
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: auto; 
}

.sidebar a {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 5vw;
    color: white;
    display: block;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar a:hover {
    border-radius: 10px;
    background-color: red;
    transform: scale(1.1);
    color: yellow;
}

#wrapper .content {
    background-color: var(--bgcolor);
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 13%;
}

.titleheading {
    color: white;
    text-align: center;
    font-size: 8vw;
    text-shadow: 0 0 .4vw red;
    margin-bottom: 0px;
    margin-top: 50px;
    font-family: "Orbitron", serif;
    font-weight: 700;
    font-style: normal;
}

.subheading {
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-top: 1vh;
    font-family: "Playwrite In", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0px;
}

.flipcontainer{
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 40vh;
  perspective: 1000px;
  padding:30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #20CC00;
}

/* Style the back side */
.flip-card-back {
  background-color: #A9FF99;
  transform: rotateY(180deg);
}

#lmdiv{
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.lmbutton {
    width: 50%;
    background-color: #FFA500; /* Orange color */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lmbutton:hover {
    background-color: #FF8C00; /* Darker orange on hover */
}

#lmtext{
    padding: 0px;
    padding-top: 5px;
    color: black;
    font-weight: 600;
    font-size: 3.5vw;
    margin: 0px;
    font-family: "Tinos", serif;
}

.lmlogo{
    color:black;
    font-size: 4vw;
    padding: 0px;
    margin: 0px;
}

#box1 {
    margin:auto;
}

#box2 {
    margin:auto;
}

.impbutton {
    width: 30vw;
    height: 10vh;
    background-color: #20CC00; /* Orange color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.impbutton:hover {
    background-color: #A9FF99; /* Darker orange on hover */
}

.resbutton {
    width: 30vw;
    height: 10vh;
    background-color: #1B03A3; /* Orange color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resbutton:hover {
    background-color: #04D9FF; /* Darker orange on hover */
}

.probtext {
    color: white;
    font-size: 2.3vw;
    text-align: center;
    margin-top: 1vh;
    font-family: "Lora", sans-serif;
    font-weight: 300;
    margin-bottom: 1vh;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
}

.headings {
    color: white;
    font-size: 4.2vw;
    text-align: center;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 20vh;
}

.probsubhead{
    color: white;
    font-size: 1.8vw;
    text-align: center;
    margin: 2vh;
    margin-bottom: 3vh;
    font-family: "Spectral", sans-serif;
    font-weight: 200;
}

.probsubtext {
    margin-bottom: 13vh;
}

.cardheading{
    color: white;
    font-size: 2.1vw;
    text-align: center;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.cardtext{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 200;
    margin-bottom: 2vh;
    margin-top: auto;
    margin-bottom: auto;
}

.cardbacktext{
    color: black;
    font-size: 1vw;
    text-align: center;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.resourceinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.restext {
    flex: 1;
    padding: 10px;
}

.reslogo {
    width: 10vw;
    height: 16vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.rlogo{
    color:red;
    font-size: 4vw;
}

.horizontal-line {
    border-top: 2px solid #000;
    margin: 20px 0;
}

.lefttext{
    float: left;
}

.righttext{
    float: right;
}

.resheading{
    color: #1b6bb5;
    font-size: 2.1vw;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.explain{
    color: #04D9FF;
    font-size: 1.5vw;
    margin: 2vh;
    font-family: "Spectral", sans-serif;
    font-weight: 200;
    margin-bottom: 2vh;
}

footer {
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    color: white;
}