body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}
#wrapper .sidebar {
  display: table-cell;
  background: black;
  width: 20%;
  height: 100%;
  padding: 10px;
  vertical-align: middle;
}
.sidebar a {
    padding: 15px; /* Increased padding for larger clickable area */
    text-align: center;
    text-decoration: none;
    font-size: 5vw; /* Use viewport width for responsive font size */
    color: white;
    display: block;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
}
.sidebar a:hover {
    border-radius: 10px;
    background-color: red;
    transform: scale(1.1); /* Slightly enlarge icon on hover */
    color: yellow;
}



#wrapper .content{
  background-color: black;
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  height: 100%;
}

#titleheading{
  color: white;
}

#wrapper {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  height: 100%;
}